h1{
    background-color: #B385F2;
    color:white;
    display: inline-block;
    text-align: center;
    height:65px;
    line-height: 65px;
    width:400px;
    border-radius: 30px;
}

.make-todolist{
    color:#B385F2;
    background-color: #f6f6f6;
    border:#f6f6f6 solid;
    padding:30px 40px;
    border-radius: 30px;
}
.components-todo{
    overflow-y: scroll;
    max-height: 180px;
}

.components-todo::-webkit-scrollbar {
	display:none 
}
.text-todolist,.choice-importance{
    padding-left: 10px;
    text-align: left;
    border: #B385F2 solid;
    height:35px;
    font-size: 1rem;
    border-radius: 4px;
    outline:none;
}
.text-todolist:focus,.choice-importance:focus {
    border:3px solid #9c59fa ;
  }
.text-todolist{
    width:200px;
    font-size: 1rem;
}

.choice-importance{
    margin-left:10px;
    margin-right:10px;
    width:70px;
}
.view-todolist{
    width:100%;
}
.view-todolist-title{
    font-size:25px;
}
.components-todo,.component-importance{
    font-size: 1.2rem;
    display:flex;
    flex-direction: column;
    row-gap:12px;
}
.submit-todolist{
    font-size: 1rem;
    width:65px;
    border-radius: 5px;
    color:white;
    background-color: #B599F2 ;
    border:solid #B599F2;
}
.delete-btn{
    border:none;
    font-size:1.2rem;
    background-color: #f6f6f6;
}