.see-by-importance{
    width:350px;
    color:#B385F2;
    background-color: #f6f6f6;
    padding:30px 40px;
    border-radius: 30px;
    border:#f6f6f6 solid;
}
.see-by-importance-contents{
    display:flex;
    flex-direction: column;
    row-gap: 6px;
    width:200px;
}
.impoartance{
    text-align: center;
    width:100px;
    height:35px;
}